$breeze-font-family: "breeze" !default;
$breeze-font-path: "breeze-font" !default;

$icon-align-horizontal-node-path1: "\e908";
$icon-align-horizontal-node-path2: "\e909";
$icon-align-horizontal-right-out: "\e90a";
$icon-align-horizontal-right-to-anchor: "\e90b";
$icon-align-horizontal-right: "\e90c";
$icon-align-horizontal-top-out: "\e90d";
$icon-align-vertical-baseline: "\e90e";
$icon-align-vertical-bottom-out: "\e90f";
$icon-align-vertical-bottom-to-anchor: "\e910";
$icon-align-vertical-bottom: "\e911";
$icon-align-vertical-center: "\e912";
$icon-align-vertical-node-path1: "\e913";
$icon-align-vertical-node-path2: "\e914";
$icon-align-vertical-top-out: "\e915";
$icon-align-vertical-top-to-anchor: "\e916";
$icon-align-vertical-top: "\e917";
$icon-amarok_cart_view: "\e918";
$icon-application-exit: "\e919";
$icon-application-menu: "\e91a";
$icon-appointment-new: "\e91b";
$icon-archive-extract: "\e91c";
$icon-archive-insert-directory: "\e91d";
$icon-archive-insert: "\e91e";
$icon-archive-remove-path1: "\e91f";
$icon-archive-remove-path2: "\e920";
$icon-arrow-down-double: "\e921";
$icon-arrow-down: "\e922";
$icon-arrow-left-double: "\e923";
$icon-arrow-left: "\e924";
$icon-arrow-right-double: "\e925";
$icon-arrow-right: "\e926";
$icon-arrow-up-double: "\e927";
$icon-arrow-up: "\e928";
$icon-audio-volume-high: "\e929";
$icon-audio-volume-low-path1: "\e92a";
$icon-audio-volume-low-path2: "\e92b";
$icon-audio-volume-medium-path1: "\e92c";
$icon-audio-volume-medium-path2: "\e92d";
$icon-audio-volume-muted-path1: "\e92e";
$icon-audio-volume-muted-path2: "\e92f";
$icon-auto-scale-all: "\e930";
$icon-auto-scale-x: "\e931";
$icon-auto-scale-y: "\e932";
$icon-autocorrection: "\e933";
$icon-bookmark-new-list: "\e934";
$icon-bookmark-new: "\e935";
$icon-bookmark-toolbar: "\e936";
$icon-bookmarks-organize: "\e937";
$icon-bookmarks: "\e938";
$icon-bordertool-path1: "\e939";
$icon-bordertool-path2: "\e93a";
$icon-call-start: "\e93b";
$icon-call-stop: "\e93c";
$icon-character-set: "\e93d";
$icon-checkbox: "\e93e";
$icon-chronometer-lap: "\e93f";
$icon-chronometer-pause: "\e940";
$icon-chronometer-reset: "\e941";
$icon-chronometer-start: "\e942";
$icon-chronometer: "\e943";
$icon-class-or-package: "\e944";
$icon-code-block: "\e945";
$icon-code-class: "\e946";
$icon-code-context: "\e947";
$icon-code-function: "\e948";
$icon-code-typedef: "\e949";
$icon-code-variable: "\e94a";
$icon-collapse-all: "\e94b";
$icon-color-fill: "\e94c";
$icon-color-gradient-path1: "\e94d";
$icon-color-gradient-path2: "\e94e";
$icon-color-management-path1: "\e94f";
$icon-color-management-path2: "\e950";
$icon-color-management-path3: "\e951";
$icon-color-management-path4: "\e952";
$icon-color-management-path5: "\e953";
$icon-color-management-path6: "\e954";
$icon-color-management-path7: "\e955";
$icon-color-management-path8: "\e956";
$icon-color-management-path9: "\e957";
$icon-color-management-path10: "\e958";
$icon-color-management-path11: "\e959";
$icon-color-management-path12: "\e95a";
$icon-color-management-path13: "\e95b";
$icon-color-management-path14: "\e95c";
$icon-color-management-path15: "\e95d";
$icon-color-management-path16: "\e95e";
$icon-color-picker-black-path1: "\e95f";
$icon-color-picker-black-path2: "\e960";
$icon-color-picker-black-path3: "\e961";
$icon-color-picker-grey-path1: "\e962";
$icon-color-picker-grey-path2: "\e963";
$icon-color-picker-grey-path3: "\e964";
$icon-color-picker-white-path1: "\e965";
$icon-color-picker-white-path2: "\e966";
$icon-color-picker-white-path3: "\e967";
$icon-color-picker: "\e968";
$icon-colormanagement-path1: "\e969";
$icon-colormanagement-path2: "\e96a";
$icon-colormanagement-path3: "\e96b";
$icon-colormanagement-path4: "\e96c";
$icon-colormanagement-path5: "\e96d";
$icon-colormanagement-path6: "\e96e";
$icon-colormanagement-path7: "\e96f";
$icon-colormanagement-path8: "\e970";
$icon-colormanagement-path9: "\e971";
$icon-colormanagement-path10: "\e972";
$icon-colormanagement-path11: "\e973";
$icon-colormanagement-path12: "\e974";
$icon-colormanagement-path13: "\e975";
$icon-colormanagement-path14: "\e976";
$icon-colormanagement-path15: "\e977";
$icon-colormanagement-path16: "\e978";
$icon-configure-shortcuts: "\e979";
$icon-configure-toolbars: "\e97a";
$icon-configure: "\e97b";
$icon-contact-new: "\e97c";
$icon-contrast: "\e97d";
$icon-cursor-arrow: "\e97e";
$icon-dashboard-show: "\e97f";
$icon-database-change-key-path1: "\e980";
$icon-database-change-key-path2: "\e981";
$icon-database-index: "\e982";
$icon-debug-execute-from-cursor: "\e983";
$icon-debug-execute-to-cursor: "\e984";
$icon-debug-run-cursor: "\e985";
$icon-debug-run: "\e986";
$icon-debug-step-instruction-path1: "\e987";
$icon-debug-step-instruction-path2: "\e988";
$icon-debug-step-into-instruction-path1: "\e989";
$icon-debug-step-into-instruction-path2: "\e98a";
$icon-debug-step-into-path1: "\e98b";
$icon-debug-step-into-path2: "\e98c";
$icon-debug-step-out-path1: "\e98d";
$icon-debug-step-out-path2: "\e98e";
$icon-debug-step-over-path1: "\e98f";
$icon-debug-step-over-path2: "\e990";
$icon-dialog-cancel: "\e991";
$icon-dialog-close: "\e992";
$icon-dialog-messages: "\e993";
$icon-dialog-ok-apply: "\e994";
$icon-dialog-ok: "\e995";
$icon-dialog-xml-editor: "\e996";
$icon-dirsync: "\e997";
$icon-distribute-graph-directed-path1: "\e998";
$icon-distribute-graph-directed-path2: "\e999";
$icon-distribute-graph-path1: "\e99a";
$icon-distribute-graph-path2: "\e99b";
$icon-distribute-horizontal-baseline: "\e99c";
$icon-distribute-horizontal-center: "\e99d";
$icon-distribute-horizontal-equal: "\e99e";
$icon-distribute-horizontal-gaps: "\e99f";
$icon-distribute-horizontal-left: "\e9a0";
$icon-distribute-horizontal-margin: "\e9a1";
$icon-distribute-horizontal-node-path1: "\e9a2";
$icon-distribute-horizontal-node-path2: "\e9a3";
$icon-distribute-horizontal-page: "\e9a4";
$icon-distribute-horizontal-right: "\e9a5";
$icon-distribute-horizontal-x: "\e9a6";
$icon-distribute-horizontal: "\e9a7";
$icon-distribute-randomize: "\e9a8";
$icon-distribute-remove-overlaps: "\e9a9";
$icon-distribute-unclump: "\e9aa";
$icon-distribute-vertical-baseline: "\e9ab";
$icon-distribute-vertical-bottom: "\e9ac";
$icon-distribute-vertical-center: "\e9ad";
$icon-distribute-vertical-equal: "\e9ae";
$icon-distribute-vertical-gaps: "\e9af";
$icon-distribute-vertical-margin: "\e9b0";
$icon-distribute-vertical-node-path1: "\e9b1";
$icon-distribute-vertical-node-path2: "\e9b2";
$icon-distribute-vertical-page: "\e9b3";
$icon-distribute-vertical-top: "\e9b4";
$icon-distribute-vertical-y: "\e9b5";
$icon-distribute-vertical: "\e9b6";
$icon-document-close: "\e9b7";
$icon-document-decrypt: "\e9b8";
$icon-document-edit-decrypt-verify: "\e9b9";
$icon-document-edit-decrypt: "\e9ba";
$icon-document-edit-encrypt: "\e9bb";
$icon-document-edit-sign-encrypt: "\e9bc";
$icon-document-edit-sign: "\e9bd";
$icon-document-edit-verify: "\e9be";
$icon-document-edit: "\e9bf";
$icon-document-encrypt: "\e9c0";
$icon-document-encrypted: "\e9c1";
$icon-document-export-table: "\e9c2";
$icon-document-export: "\e9c3";
$icon-document-import: "\e9c4";
$icon-document-multiple: "\e9c5";
$icon-document-new-from-template: "\e9c6";
$icon-document-new: "\e9c7";
$icon-document-open-folder: "\e9c8";
$icon-document-open-recent: "\e9c9";
$icon-document-open-remote: "\e9ca";
$icon-document-open: "\e9cb";
$icon-document-preview-archive: "\e9cc";
$icon-document-preview: "\e9cd";
$icon-document-print-direct: "\e9ce";
$icon-document-print-frame: "\e9cf";
$icon-document-print-preview: "\e9d0";
$icon-document-print: "\e9d1";
$icon-document-properties: "\e9d2";
$icon-document-revert: "\e9d3";
$icon-document-save-all: "\e9d4";
$icon-document-save-as-template: "\e9d5";
$icon-document-save-as: "\e9d6";
$icon-document-save: "\e9d7";
$icon-document-share: "\e9d8";
$icon-document-sign: "\e9d9";
$icon-document-swap: "\e9da";
$icon-documentation: "\e9db";
$icon-documentinfo: "\e9dc";
$icon-download-later: "\e9dd";
$icon-download: "\e9de";
$icon-draw-arrow-back: "\e9df";
$icon-draw-arrow-down: "\e9e0";
$icon-draw-arrow-forward: "\e9e1";
$icon-draw-arrow-up: "\e9e2";
$icon-draw-bezier-curves: "\e9e3";
$icon-draw-brush: "\e9e4";
$icon-draw-calligraphic: "\e9e5";
$icon-draw-circle: "\e9e6";
$icon-draw-connector-path1: "\e9e7";
$icon-draw-connector-path2: "\e9e8";
$icon-draw-cross: "\e9e9";
$icon-draw-cuboid-path1: "\e9ea";
$icon-draw-cuboid-path2: "\e9eb";
$icon-draw-cuboid-path3: "\e9ec";
$icon-draw-cuboid-path4: "\e9ed";
$icon-draw-donut: "\e9ee";
$icon-draw-ellipse: "\e9ef";
$icon-draw-eraser: "\e9f0";
$icon-draw-freehand: "\e9f1";
$icon-draw-halfcircle1: "\e9f2";
$icon-draw-halfcircle2: "\e9f3";
$icon-draw-halfcircle3: "\e9f4";
$icon-draw-halfcircle4: "\e9f5";
$icon-draw-line: "\e9f6";
$icon-draw-path: "\e9f7";
$icon-draw-polygon-star: "\e9f8";
$icon-draw-polygon: "\e9f9";
$icon-draw-polyline: "\e9fa";
$icon-draw-rectangle: "\e9fb";
$icon-draw-spiral: "\e9fc";
$icon-draw-square-inverted-corners: "\e9fd";
$icon-draw-star: "\e9fe";
$icon-draw-text: "\e9ff";
$icon-draw-triangle: "\ea00";
$icon-draw-triangle1: "\ea01";
$icon-draw-triangle2: "\ea02";
$icon-draw-triangle3: "\ea03";
$icon-draw-triangle4: "\ea04";
$icon-draw-watercolor: "\ea05";
$icon-edit-bomb: "\ea06";
$icon-edit-clear-all: "\ea07";
$icon-edit-clear-history: "\ea08";
$icon-edit-clear-list: "\ea09";
$icon-edit-clear-locationbar-ltr: "\ea0a";
$icon-edit-clear-locationbar-rtl: "\ea0b";
$icon-edit-clear: "\ea0c";
$icon-edit-clone: "\ea0d";
$icon-edit-copy: "\ea0e";
$icon-edit-cut: "\ea0f";
$icon-edit-delete-shred: "\ea10";
$icon-edit-delete: "\ea11";
$icon-edit-download: "\ea12";
$icon-edit-find-mail: "\ea13";
$icon-edit-find-project: "\ea14";
$icon-edit-find-replace: "\ea15";
$icon-edit-find-user: "\ea16";
$icon-edit-find: "\ea17";
$icon-edit-group: "\ea18";
$icon-edit-guides: "\ea19";
$icon-edit-image-face-add: "\ea1a";
$icon-edit-image-face-detect: "\ea1b";
$icon-edit-image-face-recognize: "\ea1c";
$icon-edit-image-face-show: "\ea1d";
$icon-edit-node: "\ea1e";
$icon-edit-paste-in-place: "\ea1f";
$icon-edit-paste: "\ea20";
$icon-edit-redo: "\ea21";
$icon-edit-rename: "\ea22";
$icon-edit-select-all: "\ea23";
$icon-edit-select-invert: "\ea24";
$icon-edit-select-lasso: "\ea25";
$icon-edit-select-none-path1: "\ea26";
$icon-edit-select-none-path2: "\ea27";
$icon-edit-select: "\ea28";
$icon-edit-table-cell-merge: "\ea29";
$icon-edit-table-cell-split-path1: "\ea2a";
$icon-edit-table-cell-split-path2: "\ea2b";
$icon-edit-table-delete-column-path1: "\ea2c";
$icon-edit-table-delete-column-path2: "\ea2d";
$icon-edit-table-delete-row-path1: "\ea2e";
$icon-edit-table-delete-row-path2: "\ea2f";
$icon-edit-table-insert-column-left-path1: "\ea30";
$icon-edit-table-insert-column-left-path2: "\ea31";
$icon-edit-table-insert-column-right-path1: "\ea32";
$icon-edit-table-insert-column-right-path2: "\ea33";
$icon-edit-table-insert-row-above-path1: "\ea34";
$icon-edit-table-insert-row-above-path2: "\ea35";
$icon-edit-table-insert-row-below-path1: "\ea36";
$icon-edit-table-insert-row-below-path2: "\ea37";
$icon-edit-table-insert-row-under-path1: "\ea38";
$icon-edit-table-insert-row-under-path2: "\ea39";
$icon-edit-text-frame-update-path1: "\ea3a";
$icon-edit-text-frame-update-path2: "\ea3b";
$icon-edit-undo: "\ea3c";
$icon-editimage: "\ea3d";
$icon-entry-delete: "\ea3e";
$icon-entry-edit: "\ea3f";
$icon-exchange-positions-clockwise-path1: "\ea40";
$icon-exchange-positions-clockwise-path2: "\ea41";
$icon-exchange-positions-zorder-path1: "\ea42";
$icon-exchange-positions-zorder-path2: "\ea43";
$icon-exchange-positions: "\ea44";
$icon-exifinfo: "\ea45";
$icon-expand-all: "\ea46";
$icon-feed-subscribe: "\ea47";
$icon-file-zoom-in: "\ea48";
$icon-file-zoom-out: "\ea49";
$icon-filename-group-length: "\ea4a";
$icon-filename-group-tracks: "\ea4b";
$icon-filename-last-played: "\ea4c";
$icon-filename-sample-rate: "\ea4d";
$icon-fileview-preview: "\ea4e";
$icon-fill-color: "\ea4f";
$icon-final_activity: "\ea50";
$icon-flag-black-path1: "\ea51";
$icon-flag-black-path2: "\ea52";
$icon-flag-blue-path1: "\ea53";
$icon-flag-blue-path2: "\ea54";
$icon-flag-green-path1: "\ea55";
$icon-flag-green-path2: "\ea56";
$icon-flag-red-path1: "\ea57";
$icon-flag-red-path2: "\ea58";
$icon-flag-yellow-path1: "\ea59";
$icon-flag-yellow-path2: "\ea5a";
$icon-flag: "\ea5b";
$icon-flashlight-off-path1: "\ea5c";
$icon-flashlight-off-path2: "\ea5d";
$icon-flashlight-on: "\ea5e";
$icon-folder-new: "\ea5f";
$icon-folder-sync: "\ea60";
$icon-font: "\ea61";
$icon-fork: "\ea62";
$icon-format-add-node: "\ea63";
$icon-format-align-vertical-bottom: "\ea64";
$icon-format-align-vertical-center: "\ea65";
$icon-format-align-vertical-top: "\ea66";
$icon-format-border-set-all-path1: "\ea67";
$icon-format-border-set-all-path2: "\ea68";
$icon-format-border-set-bottom-path1: "\ea69";
$icon-format-border-set-bottom-path2: "\ea6a";
$icon-format-border-set-bottom-path3: "\ea6b";
$icon-format-border-set-diagonal-bl-tr-path1: "\ea6c";
$icon-format-border-set-diagonal-bl-tr-path2: "\ea6d";
$icon-format-border-set-diagonal-bl-tr-path3: "\ea6e";
$icon-format-border-set-diagonal-tl-br-path1: "\ea6f";
$icon-format-border-set-diagonal-tl-br-path2: "\ea70";
$icon-format-border-set-diagonal-tl-br-path3: "\ea71";
$icon-format-border-set-external-path1: "\ea72";
$icon-format-border-set-external-path2: "\ea73";
$icon-format-border-set-external-path3: "\ea74";
$icon-format-border-set-internal-horizontal-path1: "\ea75";
$icon-format-border-set-internal-horizontal-path2: "\ea76";
$icon-format-border-set-internal-horizontal-path3: "\ea77";
$icon-format-border-set-internal-vertical-path1: "\ea78";
$icon-format-border-set-internal-vertical-path2: "\ea79";
$icon-format-border-set-internal-vertical-path3: "\ea7a";
$icon-format-border-set-internal-path1: "\ea7b";
$icon-format-border-set-internal-path2: "\ea7c";
$icon-format-border-set-internal-path3: "\ea7d";
$icon-format-border-set-left-path1: "\ea7e";
$icon-format-border-set-left-path2: "\ea7f";
$icon-format-border-set-left-path3: "\ea80";
$icon-format-border-set-none-path1: "\ea81";
$icon-format-border-set-none-path2: "\ea82";
$icon-format-border-set-right-path1: "\ea83";
$icon-format-border-set-right-path2: "\ea84";
$icon-format-border-set-right-path3: "\ea85";
$icon-format-border-set-top-path1: "\ea86";
$icon-format-border-set-top-path2: "\ea87";
$icon-format-border-set-top-path3: "\ea88";
$icon-format-border-style: "\ea89";
$icon-format-break-node-path1: "\ea8a";
$icon-format-break-node-path2: "\ea8b";
$icon-format-connect-node-path1: "\ea8c";
$icon-format-connect-node-path2: "\ea8d";
$icon-format-convert-to-path-path1: "\ea8e";
$icon-format-convert-to-path-path2: "\ea8f";
$icon-format-currency: "\ea90";
$icon-format-disconnect-node-path1: "\ea91";
$icon-format-disconnect-node-path2: "\ea92";
$icon-format-fill-color: "\ea93";
$icon-format-font-size-less: "\ea94";
$icon-format-font-size-more: "\ea95";
$icon-format-indent-less: "\ea96";
$icon-format-indent-more: "\ea97";
$icon-format-insert-node-path1: "\ea98";
$icon-format-insert-node-path2: "\ea99";
$icon-format-join-node-path1: "\ea9a";
$icon-format-join-node-path2: "\ea9b";
$icon-format-justify-center: "\ea9c";
$icon-format-justify-fill: "\ea9d";
$icon-format-justify-left: "\ea9e";
$icon-format-justify-right: "\ea9f";
$icon-format-line-spacing-double: "\eaa0";
$icon-format-line-spacing-normal: "\eaa1";
$icon-format-line-spacing-triple: "\eaa2";
$icon-format-list-ordered: "\eaa3";
$icon-format-list-unordered: "\eaa4";
$icon-format-node-corner-path1: "\eaa5";
$icon-format-node-corner-path2: "\eaa6";
$icon-format-node-curve-path1: "\eaa7";
$icon-format-node-curve-path2: "\eaa8";
$icon-format-node-line-path1: "\eaa9";
$icon-format-node-line-path2: "\eaaa";
$icon-format-node-smooth-path1: "\eaab";
$icon-format-node-smooth-path2: "\eaac";
$icon-format-node-symmetric-path1: "\eaad";
$icon-format-node-symmetric-path2: "\eaae";
$icon-format-number-percent: "\eaaf";
$icon-format-precision-less-path1: "\eab0";
$icon-format-precision-less-path2: "\eab1";
$icon-format-precision-less-path3: "\eab2";
$icon-format-precision-more-path1: "\eab3";
$icon-format-precision-more-path2: "\eab4";
$icon-format-remove-node-path1: "\eab5";
$icon-format-remove-node-path2: "\eab6";
$icon-format-segment-curve-path1: "\eab7";
$icon-format-segment-curve-path2: "\eab8";
$icon-format-segment-line-path1: "\eab9";
$icon-format-segment-line-path2: "\eaba";
$icon-format-stroke-color-path1: "\eabb";
$icon-format-stroke-color-path2: "\eabc";
$icon-format-text-blockquote: "\eabd";
$icon-format-text-bold: "\eabe";
$icon-format-text-capitalize-path1: "\eabf";
$icon-format-text-capitalize-path2: "\eac0";
$icon-format-text-code: "\eac1";
$icon-format-text-color: "\eac2";
$icon-format-text-direction-horizontal: "\eac3";
$icon-format-text-direction-ltr: "\eac4";
$icon-format-text-direction-rtl: "\eac5";
$icon-format-text-direction-vertical: "\eac6";
$icon-format-text-italic: "\eac7";
$icon-format-text-lowercase-path1: "\eac8";
$icon-format-text-lowercase-path2: "\eac9";
$icon-format-text-strikethrough: "\eaca";
$icon-format-text-subscript: "\eacb";
$icon-format-text-superscript: "\eacc";
$icon-format-text-symbol: "\eacd";
$icon-format-text-underline: "\eace";
$icon-format-text-uppercase-path1: "\eacf";
$icon-format-text-uppercase-path2: "\ead0";
$icon-formula: "\ead1";
$icon-games-achievements: "\ead2";
$icon-games-config-background: "\ead3";
$icon-games-config-board: "\ead4";
$icon-games-config-custom: "\ead5";
$icon-games-config-options: "\ead6";
$icon-games-config-theme: "\ead7";
$icon-games-config-tiles: "\ead8";
$icon-games-difficult: "\ead9";
$icon-games-endturn: "\eada";
$icon-games-highscores: "\eadb";
$icon-games-hint: "\eadc";
$icon-games-solve: "\eadd";
$icon-geany-build: "\eade";
$icon-geany-close-all: "\eadf";
$icon-geany-save-all: "\eae0";
$icon-get-hot-new-stuff: "\eae1";
$icon-gnumeric-autofilter-delete-path1: "\eae2";
$icon-gnumeric-autofilter-delete-path2: "\eae3";
$icon-gnumeric-autofilter: "\eae4";
$icon-gnumeric-autosum: "\eae5";
$icon-gnumeric-brush: "\eae6";
$icon-gnumeric-bucket: "\eae7";
$icon-gnumeric-cells-merge: "\eae8";
$icon-gnumeric-cells-split-path1: "\eae9";
$icon-gnumeric-cells-split-path2: "\eaea";
$icon-gnumeric-column-add-path1: "\eaeb";
$icon-gnumeric-column-add-path2: "\eaec";
$icon-gnumeric-column-delete-path1: "\eaed";
$icon-gnumeric-column-delete-path2: "\eaee";
$icon-gnumeric-column-hide: "\eaef";
$icon-gnumeric-column-size: "\eaf0";
$icon-gnumeric-column-unhide: "\eaf1";
$icon-gnumeric-comment-add: "\eaf2";
$icon-gnumeric-comment-edit: "\eaf3";
$icon-gnumeric-component-insert-shaped-path1: "\eaf4";
$icon-gnumeric-component-insert-shaped-path2: "\eaf5";
$icon-gnumeric-data-slicer-path1: "\eaf6";
$icon-gnumeric-data-slicer-path2: "\eaf7";
$icon-gnumeric-font: "\eaf8";
$icon-gnumeric-format-accounting: "\eaf9";
$icon-gnumeric-format-border-all-path1: "\eafa";
$icon-gnumeric-format-border-all-path2: "\eafb";
$icon-gnumeric-format-border-bottom-path1: "\eafc";
$icon-gnumeric-format-border-bottom-path2: "\eafd";
$icon-gnumeric-format-border-bottom-path3: "\eafe";
$icon-gnumeric-format-border-diag-path1: "\eaff";
$icon-gnumeric-format-border-diag-path2: "\eb00";
$icon-gnumeric-format-border-diag-path3: "\eb01";
$icon-gnumeric-format-border-double-bottom-path1: "\eb02";
$icon-gnumeric-format-border-double-bottom-path2: "\eb03";
$icon-gnumeric-format-border-double-bottom-path3: "\eb04";
$icon-gnumeric-format-border-inside-horiz-path1: "\eb05";
$icon-gnumeric-format-border-inside-horiz-path2: "\eb06";
$icon-gnumeric-format-border-inside-horiz-path3: "\eb07";
$icon-gnumeric-format-border-left-path1: "\eb08";
$icon-gnumeric-format-border-left-path2: "\eb09";
$icon-gnumeric-format-border-left-path3: "\eb0a";
$icon-gnumeric-format-border-none-path1: "\eb0b";
$icon-gnumeric-format-border-none-path2: "\eb0c";
$icon-gnumeric-format-border-outside-path1: "\eb0d";
$icon-gnumeric-format-border-outside-path2: "\eb0e";
$icon-gnumeric-format-border-outside-path3: "\eb0f";
$icon-gnumeric-format-border-rev-diag-path1: "\eb10";
$icon-gnumeric-format-border-rev-diag-path2: "\eb11";
$icon-gnumeric-format-border-rev-diag-path3: "\eb12";
$icon-gnumeric-format-border-right-path1: "\eb13";
$icon-gnumeric-format-border-right-path2: "\eb14";
$icon-gnumeric-format-border-right-path3: "\eb15";
$icon-gnumeric-format-border-thick-bottom-path1: "\eb16";
$icon-gnumeric-format-border-thick-bottom-path2: "\eb17";
$icon-gnumeric-format-border-thick-bottom-path3: "\eb18";
$icon-gnumeric-format-border-thick-outside-path1: "\eb19";
$icon-gnumeric-format-border-thick-outside-path2: "\eb1a";
$icon-gnumeric-format-border-thick-outside-path3: "\eb1b";
$icon-gnumeric-format-border-top-n-bottom-path1: "\eb1c";
$icon-gnumeric-format-border-top-n-bottom-path2: "\eb1d";
$icon-gnumeric-format-border-top-n-bottom-path3: "\eb1e";
$icon-gnumeric-format-border-top-n-double-bottom-path1: "\eb1f";
$icon-gnumeric-format-border-top-n-double-bottom-path2: "\eb20";
$icon-gnumeric-format-border-top-n-double-bottom-path3: "\eb21";
$icon-gnumeric-format-border-top-n-thick-bottom-path1: "\eb22";
$icon-gnumeric-format-border-top-n-thick-bottom-path2: "\eb23";
$icon-gnumeric-format-border-top-n-thick-bottom-path3: "\eb24";
$icon-gnumeric-format-border-top-path1: "\eb25";
$icon-gnumeric-format-border-top-path2: "\eb26";
$icon-gnumeric-format-border-top-path3: "\eb27";
$icon-gnumeric-format-percentage: "\eb28";
$icon-gnumeric-format-precision-decrease-path1: "\eb29";
$icon-gnumeric-format-precision-decrease-path2: "\eb2a";
$icon-gnumeric-format-precision-decrease-path3: "\eb2b";
$icon-gnumeric-format-precision-increase-path1: "\eb2c";
$icon-gnumeric-format-precision-increase-path2: "\eb2d";
$icon-gnumeric-format-thousand-separator: "\eb2e";
$icon-gnumeric-formulaguru: "\eb2f";
$icon-gnumeric-graphguru: "\eb30";
$icon-gnumeric-group: "\eb31";
$icon-gnumeric-link-add: "\eb32";
$icon-gnumeric-link-edit: "\eb33";
$icon-gnumeric-link-email: "\eb34";
$icon-gnumeric-link-external-path1: "\eb35";
$icon-gnumeric-link-external-path2: "\eb36";
$icon-gnumeric-link-internal-path1: "\eb37";
$icon-gnumeric-link-internal-path2: "\eb38";
$icon-gnumeric-link-url: "\eb39";
$icon-gnumeric-object-arrow: "\eb3a";
$icon-gnumeric-object-button-path1: "\eb3b";
$icon-gnumeric-object-button-path2: "\eb3c";
$icon-gnumeric-object-checkbox: "\eb3d";
$icon-gnumeric-object-combo: "\eb3e";
$icon-gnumeric-object-ellipse: "\eb3f";
$icon-gnumeric-object-label: "\eb40";
$icon-gnumeric-object-line: "\eb41";
$icon-gnumeric-object-list: "\eb42";
$icon-gnumeric-object-rectangle: "\eb43";
$icon-gnumeric-object-scrollbar-path1: "\eb44";
$icon-gnumeric-object-scrollbar-path2: "\eb45";
$icon-gnumeric-object-spinbutton-path1: "\eb46";
$icon-gnumeric-object-spinbutton-path2: "\eb47";
$icon-gnumeric-pagesetup-hf-cell: "\eb48";
$icon-gnumeric-pagesetup-hf-time: "\eb49";
$icon-gnumeric-protection-no: "\eb4a";
$icon-gnumeric-protection-yes: "\eb4b";
$icon-gnumeric-row-add-path1: "\eb4c";
$icon-gnumeric-row-add-path2: "\eb4d";
$icon-gnumeric-row-delete-path1: "\eb4e";
$icon-gnumeric-row-delete-path2: "\eb4f";
$icon-gnumeric-row-hide: "\eb50";
$icon-gnumeric-row-size: "\eb51";
$icon-gnumeric-row-unhide: "\eb52";
$icon-gnumeric-subscript: "\eb53";
$icon-gnumeric-superscript: "\eb54";
$icon-gnumeric-ungroup: "\eb55";
$icon-gnumeric-visible: "\eb56";
$icon-go-bottom: "\eb57";
$icon-go-down-search: "\eb58";
$icon-go-down-skip: "\eb59";
$icon-go-down: "\eb5a";
$icon-go-first-view-page: "\eb5b";
$icon-go-first-view: "\eb5c";
$icon-go-first: "\eb5d";
$icon-go-home: "\eb5e";
$icon-go-jump-declaration: "\eb5f";
$icon-go-jump-definition: "\eb60";
$icon-go-jump-locationbar: "\eb61";
$icon-go-jump-today: "\eb62";
$icon-go-jump: "\eb63";
$icon-go-last-view-page: "\eb64";
$icon-go-last-view: "\eb65";
$icon-go-last: "\eb66";
$icon-go-next-context: "\eb67";
$icon-go-next-skip: "\eb68";
$icon-go-next-use: "\eb69";
$icon-go-next-view-page: "\eb6a";
$icon-go-next-view: "\eb6b";
$icon-go-next: "\eb6c";
$icon-go-parent-folder: "\eb6d";
$icon-go-previous-context: "\eb6e";
$icon-go-previous-skip: "\eb6f";
$icon-go-previous-use: "\eb70";
$icon-go-previous-view-page: "\eb71";
$icon-go-previous-view: "\eb72";
$icon-go-previous: "\eb73";
$icon-go-top: "\eb74";
$icon-go-up-search: "\eb75";
$icon-go-up-skip: "\eb76";
$icon-go-up: "\eb77";
$icon-grid-rectangular: "\eb78";
$icon-group-delete: "\eb79";
$icon-group-edit: "\eb7a";
$icon-group-new: "\eb7b";
$icon-gtk-add: "\eb7c";
$icon-gtk-apply: "\eb7d";
$icon-gtk-authentication: "\eb7e";
$icon-gtk-bold: "\eb7f";
$icon-gtk-cancel: "\eb80";
$icon-gtk-cdrom: "\eb81";
$icon-gtk-clear: "\eb82";
$icon-gtk-close: "\eb83";
$icon-gtk-color-picker: "\eb84";
$icon-gtk-connect: "\eb85";
$icon-gtk-convert: "\eb86";
$icon-gtk-disconnect-path1: "\eb87";
$icon-gtk-disconnect-path2: "\eb88";
$icon-gtk-edit: "\eb89";
$icon-gtk-execute: "\eb8a";
$icon-gtk-floppy: "\eb8b";
$icon-gtk-index: "\eb8c";
$icon-gtk-no: "\eb8d";
$icon-gtk-ok: "\eb8e";
$icon-gtk-preferences: "\eb8f";
$icon-gtk-properties: "\eb90";
$icon-gtk-quit: "\eb91";
$icon-gtk-select-color: "\eb92";
$icon-gtk-select-font: "\eb93";
$icon-gtk-stop: "\eb94";
$icon-gtk-tab-duplicate: "\eb95";
$icon-gtk-tab-new: "\eb96";
$icon-gtk-undelete-ltr: "\eb97";
$icon-gtk-undelete-rtl: "\eb98";
$icon-gtk-yes: "\eb99";
$icon-guides: "\eb9a";
$icon-help-about: "\eb9b";
$icon-help-contextual: "\eb9c";
$icon-help-donate: "\eb9d";
$icon-help-feedback: "\eb9e";
$icon-help-hint: "\eb9f";
$icon-help-keybord-shortcuts: "\eba0";
$icon-hint: "\eba1";
$icon-identity: "\eba2";
$icon-im-aim: "\eba3";
$icon-im-ban-kick-user: "\eba4";
$icon-im-ban-user: "\eba5";
$icon-im-facebook: "\eba6";
$icon-im-gadugadu: "\eba7";
$icon-im-google-talk: "\eba8";
$icon-im-google: "\eba9";
$icon-im-icq: "\ebaa";
$icon-im-identica: "\ebab";
$icon-im-invisible-user: "\ebac";
$icon-im-irc: "\ebad";
$icon-im-jabber: "\ebae";
$icon-im-kick-user-path1: "\ebaf";
$icon-im-kick-user-path2: "\ebb0";
$icon-im-msn: "\ebb1";
$icon-im-qq: "\ebb2";
$icon-im-skype: "\ebb3";
$icon-im-twitter: "\ebb4";
$icon-im-user-away: "\ebb5";
$icon-im-user-busy-path1: "\ebb6";
$icon-im-user-busy-path2: "\ebb7";
$icon-im-user-offline-path1: "\ebb8";
$icon-im-user-offline-path2: "\ebb9";
$icon-im-user-online-path1: "\ebba";
$icon-im-user-online-path2: "\ebbb";
$icon-im-user: "\ebbc";
$icon-im-yahoo: "\ebbd";
$icon-imagecomment: "\ebbe";
$icon-insert-horizontal-rule: "\ebbf";
$icon-insert-image: "\ebc0";
$icon-insert-link: "\ebc1";
$icon-insert-page-break-path1: "\ebc2";
$icon-insert-page-break-path2: "\ebc3";
$icon-insert-table-of-contents-path1: "\ebc4";
$icon-insert-table-of-contents-path2: "\ebc5";
$icon-insert-table-path1: "\ebc6";
$icon-insert-table-path2: "\ebc7";
$icon-insert-text-frame: "\ebc8";
$icon-insert-text: "\ebc9";
$icon-invertimage: "\ebca";
$icon-irc-channel-active-path1: "\ebcb";
$icon-irc-channel-active-path2: "\ebcc";
$icon-irc-channel-inactive-path1: "\ebcd";
$icon-irc-channel-inactive-path2: "\ebce";
$icon-irc-close-channel: "\ebcf";
$icon-irc-join-channel: "\ebd0";
$icon-irc-operator: "\ebd1";
$icon-irc-remove-operator: "\ebd2";
$icon-irc-unvoice: "\ebd3";
$icon-irc-voice: "\ebd4";
$icon-journal-new: "\ebd5";
$icon-key-enter: "\ebd6";
$icon-kmouth-phrase-new: "\ebd7";
$icon-kmouth-phrase: "\ebd8";
$icon-kmouth-phrasebook: "\ebd9";
$icon-kmouth-phresebook-new: "\ebda";
$icon-kr_jumpback: "\ebdb";
$icon-kr_setjumpback: "\ebdc";
$icon-kstars_fitsviewer: "\ebdd";
$icon-layer-visible-off: "\ebde";
$icon-layer-visible-on: "\ebdf";
$icon-lighttable: "\ebe0";
$icon-lighttableadd: "\ebe1";
$icon-list-add-font: "\ebe2";
$icon-list-add-user: "\ebe3";
$icon-list-add: "\ebe4";
$icon-list-remove-user-path1: "\ebe5";
$icon-list-remove-user-path2: "\ebe6";
$icon-list-remove: "\ebe7";
$icon-list-resource-add: "\ebe8";
$icon-mail-attachment: "\ebe9";
$icon-mail-encrypted-full: "\ebea";
$icon-mail-encrypted-part: "\ebeb";
$icon-mail-encrypted: "\ebec";
$icon-mail-flag: "\ebed";
$icon-mail-forward: "\ebee";
$icon-mail-forwarded-replied: "\ebef";
$icon-mail-forwarded: "\ebf0";
$icon-mail-invitation: "\ebf1";
$icon-mail-mark-important-path1: "\ebf2";
$icon-mail-mark-important-path2: "\ebf3";
$icon-mail-mark-junk-path1: "\ebf4";
$icon-mail-mark-junk-path2: "\ebf5";
$icon-mail-mark-notjunk: "\ebf6";
$icon-mail-mark-read: "\ebf7";
$icon-mail-mark-task: "\ebf8";
$icon-mail-mark-unread-new: "\ebf9";
$icon-mail-mark-unread: "\ebfa";
$icon-mail-meeting-request-reply-path1: "\ebfb";
$icon-mail-meeting-request-reply-path2: "\ebfc";
$icon-mail-message-new-list: "\ebfd";
$icon-mail-message-new: "\ebfe";
$icon-mail-queue: "\ebff";
$icon-mail-queued: "\ec00";
$icon-mail-receive: "\ec01";
$icon-mail-replied: "\ec02";
$icon-mail-reply-all: "\ec03";
$icon-mail-reply-custom-all: "\ec04";
$icon-mail-reply-custom: "\ec05";
$icon-mail-reply-list: "\ec06";
$icon-mail-reply-sender: "\ec07";
$icon-mail-send: "\ec08";
$icon-mail-signature-unknown-path1: "\ec09";
$icon-mail-signature-unknown-path2: "\ec0a";
$icon-mail-signed-full-path1: "\ec0b";
$icon-mail-signed-full-path2: "\ec0c";
$icon-mail-signed-part-path1: "\ec0d";
$icon-mail-signed-part-path2: "\ec0e";
$icon-mail-signed-verified-path1: "\ec0f";
$icon-mail-signed-verified-path2: "\ec10";
$icon-mail-signed-path1: "\ec11";
$icon-mail-signed-path2: "\ec12";
$icon-mail-tagged: "\ec13";
$icon-mail-unread-new: "\ec14";
$icon-mail-unread: "\ec15";
$icon-measure: "\ec16";
$icon-media-album-cover-manager-amarok: "\ec17";
$icon-media-album-track: "\ec18";
$icon-media-eject: "\ec19";
$icon-media-mount: "\ec1a";
$icon-media-mout: "\ec1b";
$icon-media-playback-pause: "\ec1c";
$icon-media-playback-start: "\ec1d";
$icon-media-playback-stop: "\ec1e";
$icon-media-playlist-repeat: "\ec1f";
$icon-media-playlist-shuffle: "\ec20";
$icon-media-random-albums-amarok: "\ec21";
$icon-media-random-tracks-amarok: "\ec22";
$icon-media-record: "\ec23";
$icon-media-repeat-album-amarok: "\ec24";
$icon-media-repeat-playlist-amarok: "\ec25";
$icon-media-repeat-track-amarok: "\ec26";
$icon-media-seek-backward: "\ec27";
$icon-media-seek-forward: "\ec28";
$icon-media-show-active-track-amarok-path1: "\ec29";
$icon-media-show-active-track-amarok-path2: "\ec2a";
$icon-media-skip-backward: "\ec2b";
$icon-media-skip-forward: "\ec2c";
$icon-media-track-queue-amarok-path1: "\ec2d";
$icon-media-track-queue-amarok-path2: "\ec2e";
$icon-meeting-attending-tentative: "\ec2f";
$icon-meeting-attending: "\ec30";
$icon-meeting-participant-no-response-path1: "\ec31";
$icon-meeting-participant-no-response-path2: "\ec32";
$icon-meeting-participant-request-response-path1: "\ec33";
$icon-meeting-participant-request-response-path2: "\ec34";
$icon-menu_new_sep: "\ec35";
$icon-menu_new: "\ec36";
$icon-merge: "\ec37";
$icon-messagebox_warning-path1: "\ec38";
$icon-messagebox_warning-path2: "\ec39";
$icon-milestone: "\ec3a";
$icon-network-connect: "\ec3b";
$icon-network-disconnect-path1: "\ec3c";
$icon-network-disconnect-path2: "\ec3d";
$icon-news-subscribe: "\ec3e";
$icon-news-unsubscribe: "\ec3f";
$icon-nocover: "\ec40";
$icon-node-add: "\ec41";
$icon-node-break-path1: "\ec42";
$icon-node-break-path2: "\ec43";
$icon-node-delete-segment-path1: "\ec44";
$icon-node-delete-segment-path2: "\ec45";
$icon-node-delete-path1: "\ec46";
$icon-node-delete-path2: "\ec47";
$icon-node-join-segment-path1: "\ec48";
$icon-node-join-segment-path2: "\ec49";
$icon-node-join-path1: "\ec4a";
$icon-node-join-path2: "\ec4b";
$icon-node-segment-curve-path1: "\ec4c";
$icon-node-segment-curve-path2: "\ec4d";
$icon-node-segment-line-path1: "\ec4e";
$icon-node-segment-line-path2: "\ec4f";
$icon-node-transform-path1: "\ec50";
$icon-node-transform-path2: "\ec51";
$icon-node-type-auto-smooth-path1: "\ec52";
$icon-node-type-auto-smooth-path2: "\ec53";
$icon-node-type-cusp-path1: "\ec54";
$icon-node-type-cusp-path2: "\ec55";
$icon-node-type-smooth-path1: "\ec56";
$icon-node-type-smooth-path2: "\ec57";
$icon-node-type-symmetric-path1: "\ec58";
$icon-node-type-symmetric-path2: "\ec59";
$icon-node: "\ec5a";
$icon-object-columns: "\ec5b";
$icon-object-flip-horizontal: "\ec5c";
$icon-object-flip-vertical: "\ec5d";
$icon-object-group: "\ec5e";
$icon-object-locked: "\ec5f";
$icon-object-order-back: "\ec60";
$icon-object-order-front: "\ec61";
$icon-object-order-lower: "\ec62";
$icon-object-order-raise: "\ec63";
$icon-object-rotate-left: "\ec64";
$icon-object-rotate-right: "\ec65";
$icon-object-rows: "\ec66";
$icon-object-to-path-path1: "\ec67";
$icon-object-to-path-path2: "\ec68";
$icon-object-ungroup: "\ec69";
$icon-object-unlocked: "\ec6a";
$icon-office-chart-area-focus-peak-node-path1: "\ec6b";
$icon-office-chart-area-focus-peak-node-path2: "\ec6c";
$icon-office-chart-area-percentage-path1: "\ec6d";
$icon-office-chart-area-percentage-path2: "\ec6e";
$icon-office-chart-area-stacked-path1: "\ec6f";
$icon-office-chart-area-stacked-path2: "\ec70";
$icon-office-chart-area-path1: "\ec71";
$icon-office-chart-area-path2: "\ec72";
$icon-office-chart-bar-percentage: "\ec73";
$icon-office-chart-bar-stacked: "\ec74";
$icon-office-chart-bar: "\ec75";
$icon-office-chart-line-percentage: "\ec76";
$icon-office-chart-line-stacked: "\ec77";
$icon-office-chart-line: "\ec78";
$icon-office-chart-pie: "\ec79";
$icon-office-chart-polar-stacked: "\ec7a";
$icon-office-chart-polar: "\ec7b";
$icon-office-chart-ring: "\ec7c";
$icon-office-chart-scatter: "\ec7d";
$icon-overflow-menu: "\ec7e";
$icon-package: "\ec7f";
$icon-page-2sides: "\ec80";
$icon-page-3sides: "\ec81";
$icon-page-4sides: "\ec82";
$icon-page-simple: "\ec83";
$icon-page-zoom: "\ec84";
$icon-password-generate: "\ec85";
$icon-password-show-off: "\ec86";
$icon-password-show-on: "\ec87";
$icon-path-clip-edit: "\ec88";
$icon-path-effect-parameter-next-path1: "\ec89";
$icon-path-effect-parameter-next-path2: "\ec8a";
$icon-path-mask-edit-path1: "\ec8b";
$icon-path-mask-edit-path2: "\ec8c";
$icon-path-mode-bezier: "\ec8d";
$icon-path-mode-polyline-paraxial: "\ec8e";
$icon-path-mode-polyline: "\ec8f";
$icon-path-mode-spiro: "\ec90";
$icon-path-reverse-path1: "\ec91";
$icon-path-reverse-path2: "\ec92";
$icon-path-simplify: "\ec93";
$icon-player-time: "\ec94";
$icon-player-volume-muted-path1: "\ec95";
$icon-player-volume-muted-path2: "\ec96";
$icon-player-volume: "\ec97";
$icon-playlist-generator: "\ec98";
$icon-playlist-sort: "\ec99";
$icon-plugins: "\ec9a";
$icon-preferences-activities: "\ec9b";
$icon-preferences-other: "\ec9c";
$icon-preflight-verifier: "\ec9d";
$icon-preview: "\ec9e";
$icon-process-stop: "\ec9f";
$icon-project-development-close-all-path1: "\eca0";
$icon-project-development-close-all-path2: "\eca1";
$icon-project-development-close-path1: "\eca2";
$icon-project-development-close-path2: "\eca3";
$icon-project-development-new-template: "\eca4";
$icon-project-development: "\eca5";
$icon-project-open: "\eca6";
$icon-quickopen-class: "\eca7";
$icon-quickopen-file: "\eca8";
$icon-quickopen-function: "\eca9";
$icon-quickopen: "\ecaa";
$icon-randomize: "\ecab";
$icon-ratiocrop: "\ecac";
$icon-redeyes-path1: "\ecad";
$icon-redeyes-path2: "\ecae";
$icon-resource-calendar-child-insert: "\ecaf";
$icon-resource-calendar-child: "\ecb0";
$icon-resource-calendar-insert: "\ecb1";
$icon-resource-group-new: "\ecb2";
$icon-resource-group: "\ecb3";
$icon-roll: "\ecb4";
$icon-run-build-clean: "\ecb5";
$icon-run-build-configure: "\ecb6";
$icon-run-build-file: "\ecb7";
$icon-run-build-install-root: "\ecb8";
$icon-run-build-install: "\ecb9";
$icon-run-build-prune: "\ecba";
$icon-run-build: "\ecbb";
$icon-run-clean: "\ecbc";
$icon-run-install: "\ecbd";
$icon-select-rectangular: "\ecbe";
$icon-select: "\ecbf";
$icon-services-path1: "\ecc0";
$icon-services-path2: "\ecc1";
$icon-settings-configure: "\ecc2";
$icon-shapes: "\ecc3";
$icon-sharpenimage: "\ecc4";
$icon-show-menu: "\ecc5";
$icon-show-node-handles-path1: "\ecc6";
$icon-show-node-handles-path2: "\ecc7";
$icon-show-offline: "\ecc8";
$icon-show-path-outline-path1: "\ecc9";
$icon-show-path-outline-path2: "\ecca";
$icon-snap-bounding-box-center-path1: "\eccb";
$icon-snap-bounding-box-center-path2: "\eccc";
$icon-snap-bounding-box-corners-path1: "\eccd";
$icon-snap-bounding-box-corners-path2: "\ecce";
$icon-snap-bounding-box-edges-path1: "\eccf";
$icon-snap-bounding-box-edges-path2: "\ecd0";
$icon-snap-bounding-box-midpoints-path1: "\ecd1";
$icon-snap-bounding-box-midpoints-path2: "\ecd2";
$icon-snap-bounding-box-path1: "\ecd3";
$icon-snap-bounding-box-path2: "\ecd4";
$icon-snap-extension: "\ecd5";
$icon-snap-grid-guide-intersections-path1: "\ecd6";
$icon-snap-grid-guide-intersections-path2: "\ecd7";
$icon-snap-guideline: "\ecd8";
$icon-snap-intersection: "\ecd9";
$icon-snap-node: "\ecda";
$icon-snap-nodes-center-path1: "\ecdb";
$icon-snap-nodes-center-path2: "\ecdc";
$icon-snap-nodes-cusp-path1: "\ecdd";
$icon-snap-nodes-cusp-path2: "\ecde";
$icon-snap-nodes-intersection-path1: "\ecdf";
$icon-snap-nodes-intersection-path2: "\ece0";
$icon-snap-nodes-midpoint-path1: "\ece1";
$icon-snap-nodes-midpoint-path2: "\ece2";
$icon-snap-nodes-path-path1: "\ece3";
$icon-snap-nodes-path-path2: "\ece4";
$icon-snap-nodes-rotation-center-path1: "\ece5";
$icon-snap-nodes-rotation-center-path2: "\ece6";
$icon-snap-nodes-smooth-path1: "\ece7";
$icon-snap-nodes-smooth-path2: "\ece8";
$icon-snap-orthogonal: "\ece9";
$icon-snap-page: "\ecea";
$icon-snap-text-baseline-path1: "\eceb";
$icon-snap-text-baseline-path2: "\ecec";
$icon-snap-path1: "\eced";
$icon-snap-path2: "\ecee";
$icon-sort-name: "\ecef";
$icon-sort-presence-path1: "\ecf0";
$icon-sort-presence-path2: "\ecf1";
$icon-sort-presence-path3: "\ecf2";
$icon-speaker: "\ecf3";
$icon-split: "\ecf4";
$icon-state-fork: "\ecf5";
$icon-step_object_Controller: "\ecf6";
$icon-story-editor: "\ecf7";
$icon-stroke-cap-bevel: "\ecf8";
$icon-stroke-cap-butt: "\ecf9";
$icon-stroke-cap-miter: "\ecfa";
$icon-stroke-cap-round: "\ecfb";
$icon-stroke-cap-square: "\ecfc";
$icon-stroke-join-bevel: "\ecfd";
$icon-stroke-join-miter: "\ecfe";
$icon-stroke-join-round: "\ecff";
$icon-stroke-to-path-path1: "\ed00";
$icon-stroke-to-path-path2: "\ed01";
$icon-stroke-to-path-path3: "\ed02";
$icon-svn-commit: "\ed03";
$icon-svn-update: "\ed04";
$icon-system-run: "\ed05";
$icon-system-search: "\ed06";
$icon-system-upgrade: "\ed07";
$icon-tab-close-other: "\ed08";
$icon-tab-close: "\ed09";
$icon-tab-detach: "\ed0a";
$icon-tab-duplicate: "\ed0b";
$icon-tab-new-background: "\ed0c";
$icon-tab-new: "\ed0d";
$icon-table-path1: "\ed0e";
$icon-table-path2: "\ed0f";
$icon-tag-addressbook: "\ed10";
$icon-tag-delete-path1: "\ed11";
$icon-tag-delete-path2: "\ed12";
$icon-tag-events: "\ed13";
$icon-tag-folder: "\ed14";
$icon-tag-people: "\ed15";
$icon-tag-properties: "\ed16";
$icon-tag-reset: "\ed17";
$icon-tag: "\ed18";
$icon-task-new: "\ed19";
$icon-taxes-finances: "\ed1a";
$icon-text_horz_kern-path1: "\ed1b";
$icon-text_horz_kern-path2: "\ed1c";
$icon-text_letter_spacing: "\ed1d";
$icon-text_line_spacing-path1: "\ed1e";
$icon-text_line_spacing-path2: "\ed1f";
$icon-text_remove_kerns-path1: "\ed20";
$icon-text_remove_kerns-path2: "\ed21";
$icon-text_rotation-path1: "\ed22";
$icon-text_rotation-path2: "\ed23";
$icon-text_subscript: "\ed24";
$icon-text_superscript: "\ed25";
$icon-text_vert_kern-path1: "\ed26";
$icon-text_vert_kern-path2: "\ed27";
$icon-text_word_spacing-path1: "\ed28";
$icon-text_word_spacing-path2: "\ed29";
$icon-text-field: "\ed2a";
$icon-text-flow-into-frame-path1: "\ed2b";
$icon-text-flow-into-frame-path2: "\ed2c";
$icon-text-frame-link: "\ed2d";
$icon-text-frame-unlink-path1: "\ed2e";
$icon-text-frame-unlink-path2: "\ed2f";
$icon-text-speak: "\ed30";
$icon-text-unflow-path1: "\ed31";
$icon-text-unflow-path2: "\ed32";
$icon-text-wrap-path1: "\ed33";
$icon-text-wrap-path2: "\ed34";
$icon-tool-animator: "\ed35";
$icon-tool-measure: "\ed36";
$icon-tool-node-editor: "\ed37";
$icon-tool-pointer: "\ed38";
$icon-tool-spray: "\ed39";
$icon-tool-tweak: "\ed3a";
$icon-tools-check-spelling-path1: "\ed3b";
$icon-tools-check-spelling-path2: "\ed3c";
$icon-tools-media-optical-burn-image: "\ed3d";
$icon-tools-media-optical-burn: "\ed3e";
$icon-tools-media-optical-copy: "\ed3f";
$icon-tools-media-optical-erase: "\ed40";
$icon-tools-media-optical-format: "\ed41";
$icon-tools-report-bug: "\ed42";
$icon-tools-rip-audio-cd: "\ed43";
$icon-tools-rip-video-cd: "\ed44";
$icon-tools-rip-video-dvd: "\ed45";
$icon-tools-wizard: "\ed46";
$icon-tools: "\ed47";
$icon-transform-crop-and-resize: "\ed48";
$icon-transform-crop: "\ed49";
$icon-transform-move-horizontal: "\ed4a";
$icon-transform-move-vertical: "\ed4b";
$icon-transform-move: "\ed4c";
$icon-transform-rotate: "\ed4d";
$icon-transform-scale-horizontal: "\ed4e";
$icon-transform-scale-textbox-points: "\ed4f";
$icon-transform-scale-vertical: "\ed50";
$icon-transform-scale: "\ed51";
$icon-transform-shear-down: "\ed52";
$icon-transform-shear-left: "\ed53";
$icon-transform-shear-right: "\ed54";
$icon-transform-shear-up: "\ed55";
$icon-transform-skew-horizontal: "\ed56";
$icon-transform-skew-vertical: "\ed57";
$icon-trash-empty: "\ed58";
$icon-trim-margins: "\ed59";
$icon-trim-to-selection-path1: "\ed5a";
$icon-trim-to-selection-path2: "\ed5b";
$icon-trim-to-selection-path3: "\ed5c";
$icon-upload-media: "\ed5d";
$icon-user-group-delete-path1: "\ed5e";
$icon-user-group-delete-path2: "\ed5f";
$icon-user-group-new: "\ed60";
$icon-user-group-properties: "\ed61";
$icon-user-identity: "\ed62";
$icon-user-properties: "\ed63";
$icon-view-bank-account-checking: "\ed64";
$icon-view-bank-account-savings: "\ed65";
$icon-view-bank-account-path1: "\ed66";
$icon-view-bank-account-path2: "\ed67";
$icon-view-bank: "\ed68";
$icon-view-barcode-add: "\ed69";
$icon-view-barcode: "\ed6a";
$icon-view-calendar-agenda: "\ed6b";
$icon-view-calendar-birthday: "\ed6c";
$icon-view-calendar-day: "\ed6d";
$icon-view-calendar-holiday: "\ed6e";
$icon-view-calendar-journal: "\ed6f";
$icon-view-calendar-list: "\ed70";
$icon-view-calendar-month-path1: "\ed71";
$icon-view-calendar-month-path2: "\ed72";
$icon-view-calendar-special-occasion: "\ed73";
$icon-view-calendar-tasks: "\ed74";
$icon-view-calendar-time-spent: "\ed75";
$icon-view-calendar-timeline: "\ed76";
$icon-view-calendar-upcoming-days-path1: "\ed77";
$icon-view-calendar-upcoming-days-path2: "\ed78";
$icon-view-calendar-upcoming-events-path1: "\ed79";
$icon-view-calendar-upcoming-events-path2: "\ed7a";
$icon-view-calendar-wedding-anniversary: "\ed7b";
$icon-view-calendar-week-path1: "\ed7c";
$icon-view-calendar-week-path2: "\ed7d";
$icon-view-calendar-whatsnext: "\ed7e";
$icon-view-calendar-workweek-path1: "\ed7f";
$icon-view-calendar-workweek-path2: "\ed80";
$icon-view-calendar: "\ed81";
$icon-view-catalog: "\ed82";
$icon-view-categories-expenditures-path1: "\ed83";
$icon-view-categories-expenditures-path2: "\ed84";
$icon-view-categories-incomes-path1: "\ed85";
$icon-view-categories-incomes-path2: "\ed86";
$icon-view-categories: "\ed87";
$icon-view-certificate-add: "\ed88";
$icon-view-certificate-export-secret-path1: "\ed89";
$icon-view-certificate-export-secret-path2: "\ed8a";
$icon-view-certificate-export-server: "\ed8b";
$icon-view-certificate-export: "\ed8c";
$icon-view-certificate-import: "\ed8d";
$icon-view-certificate-server-configure: "\ed8e";
$icon-view-certificate-sign-path1: "\ed8f";
$icon-view-certificate-sign-path2: "\ed90";
$icon-view-certificate: "\ed91";
$icon-view-close-path1: "\ed92";
$icon-view-close-path2: "\ed93";
$icon-view-conversation-balloon: "\ed94";
$icon-view-file-columns: "\ed95";
$icon-view-filter: "\ed96";
$icon-view-form-action: "\ed97";
$icon-view-form: "\ed98";
$icon-view-fullscreen: "\ed99";
$icon-view-grid: "\ed9a";
$icon-view-group: "\ed9b";
$icon-view-hidden: "\ed9c";
$icon-view-history: "\ed9d";
$icon-view-left-close-path1: "\ed9e";
$icon-view-left-close-path2: "\ed9f";
$icon-view-list-details: "\eda0";
$icon-view-list-icons: "\eda1";
$icon-view-list-text: "\eda2";
$icon-view-list-tree: "\eda3";
$icon-view-media-album-cover: "\eda4";
$icon-view-media-artist: "\eda5";
$icon-view-media-equalizer: "\eda6";
$icon-view-media-lyrics: "\eda7";
$icon-view-media-playlist: "\eda8";
$icon-view-media-title: "\eda9";
$icon-view-media-visualization: "\edaa";
$icon-view-multiple-objects: "\edab";
$icon-view-object-histogram-linear: "\edac";
$icon-view-object-histogram-logarithmic: "\edad";
$icon-view-pim-calendar: "\edae";
$icon-view-pim-contacts: "\edaf";
$icon-view-pim-journal: "\edb0";
$icon-view-pim-mail: "\edb1";
$icon-view-pim-news: "\edb2";
$icon-view-pim-notes: "\edb3";
$icon-view-pim-tasks-pending-path1: "\edb4";
$icon-view-pim-tasks-pending-path2: "\edb5";
$icon-view-pim-tasks: "\edb6";
$icon-view-presentation: "\edb7";
$icon-view-preview: "\edb8";
$icon-view-refresh: "\edb9";
$icon-view-restore: "\edba";
$icon-view-right-close-path1: "\edbb";
$icon-view-right-close-path2: "\edbc";
$icon-view-right-new: "\edbd";
$icon-view-sidetree: "\edbe";
$icon-view-sort-ascending-name: "\edbf";
$icon-view-sort-ascending: "\edc0";
$icon-view-sort-descending-name: "\edc1";
$icon-view-sort-descending: "\edc2";
$icon-view-sort: "\edc3";
$icon-view-split-left-right: "\edc4";
$icon-view-split-top-bottom: "\edc5";
$icon-view-statistics: "\edc6";
$icon-view-table-of-contents-ltr: "\edc7";
$icon-view-table-of-contents-rtl: "\edc8";
$icon-view-task-add: "\edc9";
$icon-view-task-child-add: "\edca";
$icon-view-task-child: "\edcb";
$icon-view-task: "\edcc";
$icon-view-time-schedule-baselined-add-path1: "\edcd";
$icon-view-time-schedule-baselined-add-path2: "\edce";
$icon-view-time-schedule-baselined-remove-path1: "\edcf";
$icon-view-time-schedule-baselined-remove-path2: "\edd0";
$icon-view-time-schedule-baselined-path1: "\edd1";
$icon-view-time-schedule-baselined-path2: "\edd2";
$icon-view-time-schedule-calculus: "\edd3";
$icon-view-time-schedule-child-insert: "\edd4";
$icon-view-time-schedule-edit: "\edd5";
$icon-view-time-schedule-insert: "\edd6";
$icon-view-visible: "\edd7";
$icon-view-web-browser-dom-tree: "\edd8";
$icon-viewimage: "\edd9";
$icon-visibility: "\edda";
$icon-window-close: "\eddb";
$icon-window-duplicate: "\eddc";
$icon-window-new: "\eddd";
$icon-xml-attribute-delete-path1: "\edde";
$icon-xml-attribute-delete-path2: "\eddf";
$icon-xml-element-new: "\ede0";
$icon-xml-node-delete-path1: "\ede1";
$icon-xml-node-delete-path2: "\ede2";
$icon-xml-node-duplicate: "\ede3";
$icon-xml-text-new: "\ede4";
$icon-y-zoom-in: "\ede5";
$icon-zoom-1-to-2: "\ede6";
$icon-zoom-2-to-1: "\ede7";
$icon-zoom-draw: "\ede8";
$icon-zoom-fit-best: "\ede9";
$icon-zoom-fit-height: "\edea";
$icon-zoom-fit-selection: "\edeb";
$icon-zoom-fit-width: "\edec";
$icon-zoom-in-large: "\eded";
$icon-zoom-in-x: "\edee";
$icon-zoom-in: "\edef";
$icon-zoom-next: "\edf0";
$icon-zoom-original: "\edf1";
$icon-zoom-out-large: "\edf2";
$icon-zoom-out-x: "\edf3";
$icon-zoom-out-y: "\edf4";
$icon-zoom-out: "\edf5";
$icon-zoom-previous: "\edf6";
$icon-zoom-select-fit: "\edf7";
$icon-zoom-select-x: "\edf8";
$icon-zoom-select-y: "\edf9";
$icon-zoom-select: "\edfa";
$icon-zoom: "\edfb";
$icon-acrobat: "\e900";
$icon-address-book-new: "\e901";
$icon-align-horizontal-baseline: "\e902";
$icon-align-horizontal-bottom-out: "\e903";
$icon-align-horizontal-center: "\e904";
$icon-align-horizontal-left-out: "\e905";
$icon-align-horizontal-left-to-anchor: "\e906";
$icon-align-horizontal-left: "\e907";

