/**
 * Aether SASS
 * Copyright (C) 2017 Ken Vermette
 * Copyright (C) 2019 Carl Schwan <carl at carlschwan dot eu>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@import "functions";

.learn-more {
    display: inline-block;

    &:after {
        content: ">";
        font-family: "glyph";
        font-size: 80%;
        font-weight: bold !important;
        vertical-align: middle;
        padding-left: 1em;
    }
}

.breeze-button {
    @include button();
}


@mixin aether-button($background, $hover) {
    position: relative;
    display: inline-block;
    background-color: $background;
    color: #fcfcfc !important;
    padding: 5px 10px;
    border-radius: 2px;
    border: solid 1px rgba(0,0,0,.1);
    transition: background-color .2s;

    &:hover {
        background-color: $hover;
    }

    &:after {
        color: #fcfcfc
    }
}

.button {
    @include aether-button(#54a3d8, #7cbcec);
}

.noblefir {
    @include aether-button(#27ae60, #2ecc71);
}

.button.expand {
    display: block;
    padding-right: 20px;
}

.button.expand:after {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -.8ex;
}
