/** 
 * Aether SASS
 * Copyright (C) 2017 Ken Vermette
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@media (prefers-color-scheme: dark) {
    #cookiebanner {
        background-color: #0b4a58 !important;
        div {
            color: white !important;
        }
    }

    #kPatrons {
        background-color: #eff0f1;
        h3 {
            color: #21262b !important;
        }
    }

    #donateAmountField, #donateSubmit, #kMetaStore .button {
        background-color: #31363b;
        color: #eff0f1;

        &:focus, &:active, &:hover {
            background-color: #4d4d4d;
        }
    }

    .navbar-toggler:before {
        color: #eff0f1;
    }


    .statstable > * > tr > td,
    .tux-message-editor .editcolumn,
    .grid .tux-message-editor .infocolumn-block,
    table,
    body, .mw-pt-languages, .ext-translate-container .tux-messagelist .tux-message-pagemode .tux-message-item-compact, .uls-language-block > ul > li:hover, .ext-translate-container .tux-messagelist .tux-message-pagemode {
        background-color: #232629 !important;
        color: #eff0f1 !important;
    }

    .navbar .navbar-brand-text,
    #kFooterIncome, #kFooterIncome h3,
    #kDonateForm h3 a::before,
    #kDonateForm h3 a::after,
    .grid .tux-message-editor .messagekey,
    .navbar .navbar-collapse a, pre, .tux-messagelist .tux-message-pagemode .tux-pagemode-source, .tux-messagelist .tux-message-pagemode .tux-pagemode-translation, .tux-editor-header, .tux-statsbar-info, .ext-translate-language-selector-label, .contributionscores-title {
        color: #eff0f1 !important;
    }
    .dropdown-menu,
    .diff-context,
    #pagehistory li.selected,
    .tux-message-item,
    .mw-translate-fuzzy,
    .tm-suggestion, .in-other-language,
    .statstable > * > tr > th,
    .mw-highlight,
    table tr:nth-child(2n+1),
    .lqt-post-wrapper .lqt_post_new_message,
    .mw-pt-languages-label, .card, footer, .lqt-post-wrapper, .ext-translate-container .tux-messagelist .tux-message-pagemode .tux-message-item-compact:hover, .uls-menu, .uls-search, .uls-lcd, .uls-languagefilter, .tux-action-bar, .contributionscores .header, table.wikitable > tr > th, table.wikitable > * > tr > th, .form-control, .form-control::placeholder {
        color: #eff0f1 !important;
        background-color: #31363b !important;
        background: #31363b !important;
    }
    a {
        color: #5daee9;
    }
    a:hover {
        color: #7daee9;
    }
    a.dropdown-item:hover {
        color: #16181b !important;
    }
    .tux-warning { color: black; }
    .tux-editor-request-right,
    .statstable > * > tr > td:nth-child(6)[data-sort-value="0.00000"],
    h1, h2, h3, h4, h5, h6, #kLegal, .lqt-thread-toolbar-timestamp, .lqt-thread-actions-icon, .page-info, .tux-breadcrumb, .tux-message-selector li a{
        color: #bdc3c7 !important;
    }
    .form-control {
        border: 1px solid #31363b;
    }

    .diff-addedline .diffchange,
    .diff-deletedline .diffchange {
        color: black;
    }

    pre.pre-input {
        background-color: #bdc3c7;
        color: black !important;
    }

    .alert-warning {
        border-color: #f67400;
        color: #eff0f1;
        background-color: rgba(246,116,0,0.2);
    }

    .alert-error {
        border-color: rgb(218,68,83);
        color: #eff0f1;
        background-color: rgba(218,68,83,0.2);
    }

    .alert-success, #kFooterIncome {
        background-color: #2f4e42 !important;
        color: #eff0f1 !important;
        border-color: #27ae60 !important;
    }

    .alert-info, #kWelcome {
        background-color: rgba(61,174,233, 0.2) !important;
        color: #eff0f1 !important;
        border-color: rgb(61,174,233) !important;
    }

    .icon-dark-invert img,
    img.icon-dark-invert,
    .alert-success img {
        filter: invert(1);
    }

    .mono-icon img {
        background-color: white;
    }
}
