/** KDE Documentation
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
 
 .navbar .navbar-brand-active{
    background-color: #54a3d8;
    padding-right: 10px;
    padding-left: 10px;
    color: #FFF;
  }
  
 .navbar .navbar-collapse .nav-item a.nav-link {
    height: 40px;
    line-height: 35px; 
  }
  
 .navbar .nav-item.nav-link{
    color: #192629;
    align-items: center;
  }
  
 #kLinks{
  align-items: center;
  width: 100%;
  }
  
 #KSiteDonateForm {
  align-items: center;
  width:100%;
  text-align: center;
  
  }

 #KGlobalContributorLinks{
  line-height: 2px;
  text-align: center;
  width:100%;

  }

 #KGlobalLegal{
  width:100%;
  text-align: center;
  }
  
 #KLegal.container{
  color: #6f8181;
  text-align: end;
  padding: 10px 15px; 
  }    
  
 .kSocialLinks {
  line-height: 50px;
  display: block;
  } 

 
